.container-dash {

    display: flex;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;


  
  }
  #suggestions {
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
}
.suggestion-item {
    padding: 10px;
    cursor: pointer;
}
.suggestion-item:hover {
    background: #007bff;
    color: white;
}
  
  
  .col-dash {
  
    /* Optional styling for individual columns, like width, margin, etc. */
  
    width: 50%;
  
  }


.navbar-brand img {
    width: 50px;
}

.navbar-dark{
    background-color: #56128d;
}

.navbar-link{
    background-color: #56128d;
    max-width: 800px;
    margin: 0 auto;

    
}


#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

#contacts-table {
    max-width: 800px;
    margin: 0 auto;
   
}

#contacts-table thead {
    color: #fff;
    background-color: #EEAD2D;
}

.col-id{
    font-weight: bold;
}

.actions{
    text-align: right;
    width: 150px;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon {   
    color: #1E7E;
}

.edit-icon {   
    color: #007BFF;
}
.delete-icon {   
    color: #BD2130;
}
.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

.delete-form{
    display: inline-block;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10 px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30 px;
    text-align: center;

}

/* SHOW / CONTATO INDIVIDUAL */

#view-contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.bold{
    font-weight: bold;
} 

#back-link-container{
    text-align: right;
    display: block;
    width: 500 px;
    margin: 30px auto 0;
}

#back-link {
    border: 1px solid #c3e6cb;
    
}
#create-form, #edit-form{
    max-width: 500px;
    margin: 0 auto;
}

/* LOGIN PAGE */

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background: #f3f3f3;
}

.login-card {
    background: #fff;
    padding: 35px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #56128d;
}

.input-group-lg {
    position: relative;
    margin-bottom: 18px;
}

.input-group-lg .icon {
    position: absolute;
    top: 11px;
    left: 12px;
    color: #56128d;
    font-size: 18px;
}

.input-group-lg input {
    width: 100%;
    padding: 12px 12px 12px 38px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.login-options a {
    color: #007BFF;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #56128d;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #6b1bb5;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
}


@media (max-width: 480px){
    #home-link {
        display: none;
      }} 